#root {
  width: 100%;
  /* max-width: 600px; */
  margin: 0 auto;
  /* padding: 2rem; */
  background-color: #eceaea;
}

.londrina-outline-regular {
  font-family: "Londrina Outline", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
}